body{
    padding: 0;
    margin: 0;
    width: 320px !important;
    height: 100%;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
}
html{
    height: 100%;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
  }
.header{
    display: flex;
    padding-top: 20px;
    margin-left: 10px;
    align-items: center;
}
.header__close{
    margin-left: 13px;
}
.header__close-bg,
.header__search-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.header__close-bg {
    background-image: url(img/close.svg);
}
.header__search-bg {
    background-image: url(img/search.svg);
}
.logo{
    margin-left: 15px;
    margin-right: 85px;
}
a{
    padding: 0;
    margin: 0;
}
ul{
    padding: 0;
    margin: 50px 0 0 0;
}
.list-li__a{
    font-family: TTLakesM;
    color: #1B1C21;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
}
.list-li__li-link{
    margin-bottom: 20px;
    padding-top: 5px !important
}
div.divider{
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.active{
    color: #7E7E82;
}
a.list-li__a {
    opacity: 1;
    transition: opacity 0.5s ease;
}

a.list-li__a:hover:not(.active) {
    opacity: 0.6;
}
.phone-bg{
    background-image: url(img/phone.svg);
    margin-left: 0;
    background-repeat: no-repeat;
    background-position: center;
}
.comment-bg{
    background-image: url(img/comment.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.down-menu{
    margin-left: 15px;
    display: flex;
    gap: 15px;
    position: absolute;
    left: 0;
    bottom: 170px;
}
a.down-menu__link{
    display: block;
    background-color: #FF3E79;;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.man-bg{
    background-image: url(img/man.svg);
    background-repeat: no-repeat;
    background-position: center;
    }
.email{
    text-decoration: none;
    color: #1B1C21;
    font-family: TTLakesM;
    font-size: 16px;
}
.tel{
    text-decoration: none;
    color: #1B1C21;
    font-family: TTLakes;
    font-size: 24px;
}
div.down-info{
    position: absolute;
    bottom: 0;
    flex-direction: column;
    gap: 10px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 25px;
}
.down-info__change-lang{
    display: flex;
    gap: 5px;
    margin-top: 30px;
}
button{
    background-color: white;
    border: 0;
    font-family: TTLakesM;
    font-size: 16px;
    transition: 0.3s;
    padding: 0;
}
button:hover:not(.lang-active) {
    opacity: 0.6;
}
.down-info_chanlg{
    list-style: none;
    color: #1B1C21;
}
.lang-active{
    color: #7E7E82 !important;
}
.down-menu__ul-DMenu{
    display: flex;
    gap: 15px;
    margin-left: 5px;
}
.down-menu__li-DMenu{
    list-style: none;
}
@font-face {
    font-family: "TTLakes";
    src: url("FontStyle/TTLakesCondensed-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "TTLakesM";
    src: url("FontStyle/TTLakes-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "TTLakesL";
    src: url("FontStyle/TTLakes-Light.ttf") format("truetype");
}
@media  (max-height: 720px){
        .list-li__li-link{
            margin-bottom: 10px;
        }
        .tel{
            margin-bottom: 0;
        }
        ul.list-li{
            margin-top: 30px;
        }
        .down-menu{
            bottom: 135px;
        }
        .down-info__change-lang{
            margin-top: 3px;
        }
    }
@media  (max-height: 600px){
        .list-li__li-link{
            margin-bottom: 5px;
        }
        ul.list-li{
            margin-top: 15px !important;
        }
        .tel{
            margin-bottom: 0;
        }
    }
